﻿<div class="panel panel-primary" ng-controller="ProductListCtrl as vm">
    <div class="panel-heading" style="font-size: large">
        Product List
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Stock available</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in vm.products">
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price | currency }}</td>
                <td>{{ product.stock }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>